* {
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  align-content: center;
  width: 75vw;
}

#mapid {
  height: 150px;
  width: 300px;
}

#mapid--dashboard {
  height: 300px;
  width: 400px;
}

.dashboard {
  background-color: #e63946;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 75px;
  overflow: hidden;
  height: auto;
}

.innerdash {
  background-color: white;
  display: flex;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dashboard--frontpanel1 {
  display: inline;
  flex: 1;
}

.dashboard--frontpanel2 {
  display: inline;
  flex: 1;
}

.card--dash {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
}


.graph  {
  height: auto
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf5f3;
  min-height: 100vh;
  margin-left: 50px;
  margin-right: 50px;
}

@media (min-width: 768px) {
  .asteroidCard {
    display: flex;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .asteroidCard {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
  }
}

.leftContainer {
  margin: 30px;
  flex: 2;
}

.rightContainer {
  margin: 30px;
  flex: 1;
}

.list {
  background-color: #a8dadc;
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
}
