* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  align-content: center;
}

#mapid { 
  height: 150px; 
  width: 300px;
}

/* #mapContainer { 
  justify-content: center;
  display: flex;
} */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf5f3;
  min-height: 100vh;
  margin: 0;
}

.mapLeftContainer {
  margin: 30px;
}

.asteroidCard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  margin-bottom: 40px;
}

.list {
  background-color: #61dafb;
  margin-top: 50px;
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
